.playlistCard {
    padding: 0.3rem;
    transition: 0.35s ease-in;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: #303030;
    color: #FFFFFF;
}

.playlistCard a {
    color: #FFFFFF;
}

.playlistCard:hover {
    background-color: var(--darkGreyBackground);
    cursor: pointer;
}

.playlistCard__body {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
}

.playlistCard__body__text__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 8rem;
    font-size: 0.8rem;
}

@supports (-webkit-line-clamp: 2) {
    .playlistCard__body__text__description {
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.playlistCard__play {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
    display: none;
}

.playlistCard__play:hover {
    transition: 0.5s ease-in;
    transform: scale(1.05);
    filter: brightness(120%);
}

.playlistCard__play__icon {
    font-size: 3rem;
    color: var(--primaryTheme);
}

.playlistCard__delete {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: end;
    display: none;
}

.playlistCard__delete:hover {
    color: red;
    transition: 0.5s ease-in;
}