.index_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.index_page__playlists {
    width: 100%;
}

.index_page__mixes {
    width: 100%;
}

.index_page__mixes > .index_page__title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem !important;
}