.index_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    width: 100%;
    align-items: start;
    justify-content: center;
}

.index_page__playlists {
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
}

.index_page__search {
    grid-row: 1 / -1;
    grid-column: 2 / span 1;
}