{% if playlist_created == True %}
    <div class="alert alert-success fade show" role="alert">
        {{ new_playlist.name }} was successful created
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% else %}
    <div class="alert alert-danger fade show" role="alert">
        {% if playlist_exist == True %}
            This playlist already exists
        {% else %}
            The playlist couldn't be created
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
