{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'playlist/css/partials/common/playlist_card.css' %}"/>
</head>

<article class="card playlistCard" style="width: 18rem;" id="{{ playlist.id }}__card">
    <section class="card-body playlistCard__body">
        <a
                href="{% url 'website__playlist:playlist-detail' playlist.name %}"
                preload
                hx-boost="true"
        >
            <div class="playlistCard__body__text">
                <h5 class="card-title playlistCard__body__text__title">{{ playlist.name }}</h5>
                <p class="card-text playlistCard__body__text__description">{{ playlist.description }}</p>
            </div>
        </a>
    </section>
    <section class="playlistCard__play">
        <i class="fa-solid fa-circle-play | playlistCard__play__icon | click"></i>
    </section>
    <section
            class="playlistCard__delete | click"
            hx-delete="{% url 'website__playlist:htmx-delete-playlist' playlist.name %}"
            hx-confirm="Are you sure you want to delete this?"
            hx-target="#{{ playlist.name }}__card"
            hx-swap="delete"
    >
        <i class="fa-solid fa-circle-xmark"></i>
    </section>
</article>

<script>
    $(document).ready(function () {
        let playlistId = "{{ playlist.id }}";
        let playlistCard = $("#" + playlistId + "__card")
        let playIcon = playlistCard.find(".playlistCard__play")
        let deleteIcon = playlistCard.find(".playlistCard__delete")

        playlistCard.hover(
            function () {
                playIcon.fadeIn(300);
                deleteIcon.fadeIn(300);
            }, function () {
                playIcon.fadeOut(300);
                deleteIcon.fadeOut(300);
            }
        )
    })
</script>


