{% load static %}

<head>
    {#    <link rel="stylesheet" href="{% static 'playlist/css/partials/common/playlist_card.css' %}"/>#}
</head>
{% if playlist %}
    <a
            href="{% url 'website__playlist:playlist-detail' playlist.name %}"
            preload
            hx-boost="true"
    >
        <article class="card playlistCard" id="{{ playlist.name|cut:" " }}__card">
            <section class="card-body playlistCard__body">
                <div class="playlistCard__body__text">
                    <h5 class="card-title | playlistCard__body__text__title | fw-bold">{{ playlist.name }}</h5>
                    <p class="card-text | playlistCard__body__text__description">{{ playlist.description }}</p>
                </div>
            </section>
            <section class="playlistCard__play">
                <i class="fa-solid fa-circle-play | playlistCard__play__icon | click"></i>
            </section>
        </article>
    </a>

    <script>
        $(document).ready(function () {
            let playlistName = "{{ playlist.name|cut:" " }}";
            let playlistCard = $("#" + playlistName + "__card")
            let playIcon = playlistCard.find(".playlistCard__play")

            playlistCard.hover(
                function () {
                    playIcon.fadeIn(150);
                }, function () {
                    playIcon.fadeOut(150);
                }
            )
        })
    </script>
{% endif %}