{% load static %}
<article class="card" style="width: 18rem;" id="{{ playlist.name }}__card">
    <section class="card-body">
        <a
                href="{% url 'website__playlist:playlist-detail' playlist.name %}"
                preload
                hx-boost="true"
        >
            <h5 class="card-title">{{ playlist.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ playlist.user.username }}</h6>
            <p class="card-text">{{ playlist.description }}</p>
        </a>
    </section>
    <span
            class="click"
            hx-delete="{% url 'website__playlist:htmx-delete-playlist' playlist.name %}"
            hx-confirm="Are you sure you want to delete this?"
            hx-target="#{{ playlist.name }}__card"
            hx-swap="delete"
    >
            X
        </span>
</article>


