.current {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0.3rem;
    background-color: #181818;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    box-shadow: 0 -3.5px 5px -5px #FFFFFF;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10%;
    max-height: 15vh;
    bottom: 0;
    z-index: 9999;
    color: #9d9d9d;
}

.current__song {
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.current__song img {
    object-fit: contain;
    width: 80%;
}

.current__song__details {
    display: flex;
    flex-direction: column;
}

.current__song__details__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    transition: 0.2s ease-in;
    color: #FFFFFF;
}

.current__song__details__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.current__song__details__artist {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    transition: 0.2s ease-in;
}

.current__song__details__artist:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}


.current__controls {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    align-items: center;
    margin-inline: 2rem;
    font-size: 1.3rem;
    padding-top: 0.7rem;
}

.current__controls__control {
}

.current__controls__control:hover {
}

.controls {
    transition: ease-in 0.2s;
}

.controls:hover {
    color: white;
}

.current__progress {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-inline: 2rem;
    padding-inline: 12rem;
}

.progress {
    height: 0.35rem;
    border-radius: 1rem;
    width: 100%;
    background-color: #FFFFFF;
}

.progress_times {
    font-size: 0.8rem;
}

.current__additional_controls {
    grid-row: 1 / -1;
    grid-column: 3 / span 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
    align-items: center;
}

.current__additional_controls__volume {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
