{% load playlist_tags %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'base/css/partials/_navbar.css' %}"/>
</head>


<nav class="navigation">
    <div class="logo">
        <a
                class=""
                href="{% url 'website__base:index' %}"
                hx-boost="true"
        >
            Music App
        </a>
    </div>
    <section class="navigation__top navigation__section">
        <ul class="primary-navigation">
            <li class="ma-nav-item">
                <section class="ma-nav-item__icon">
                    <i class="fa-solid fa-house"></i>
                </section>
                <a
                        class="ma-nav-item"
                        href="{% url 'website__base:index' %}"
                        hx-boost="true"
                >
                    Home
                </a>
            </li>
            <li class="ma-nav-item">
                <section class="ma-nav-item__icon">
                    <i class="fa-solid fa-book"></i>
                </section>
                <a
                        class=""
                        href="{% url 'website__playlist:all-playlists' %}"
                        hx-boost="true"
                >
                    Playlists
                </a>
            </li>
            <li class="ma-nav-item">
                <section class="ma-nav-item__icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </section>
                <a
                        class=""
                        href="{% url 'website__search:search' %}"
                        hx-boost="true"
                >
                    Search
                </a>
            </li>
        </ul>
    </section>
    <section class="navigation__bottom navigation__section">
        <ul class="primary-navigation">
            <li class="ma-nav-item">
                <section class="ma-nav-item__icon">
                    <i class="fa-solid fa-heart"></i>
                </section>
                <a
                        class=""
                        href="{% url 'website__playlist:all-playlists' %}"
                        hx-boost="true"
                >
                    Favourites
                </a>
            </li>
            <li class="ma-nav-item">
                <section class="ma-nav-item__icon">
                    <i class="fa-solid fa-user"></i>
                </section>
                <a
                        class=""
                        href="{% url 'website__base:profile' %}"
                        hx-boost="true"
                >
                    Profile
                </a>
            </li>
            <li class="ma-nav-item">
                <section class="ma-nav-item__icon">
                    <i class="fa-solid fa-power-off"></i>
                </section>
                <a
                        class=""
                        href="{% url 'website__base:logout' %}"
                >
                    Logout
                </a>
            </li>
        </ul>
    </section>
    <hr class="navigation__divider">
    {% navbar_all_playlists %}
</nav>