.artistResultsTable {
    margin-block: 1rem;
    width: 95%;
}

.artistResultsTable th {
    text-transform: uppercase;
    color: var(--midGrey);
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--darkGreyBackground);
}

.artistResultsTable td {
    padding-top: 0.5rem;
    font-size: 1rem;
    width: 25%;
}

.artistResultsTable tr:hover {
    transition: 0.2s ease-in;
    cursor: pointer;
    filter: brightness(150%);
}

