.songsResultsTable {
    margin-block: 1rem;
    width: 95%;
}

.songsResultsTable th {
    text-transform: uppercase;
    color: var(--midGrey);
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--darkGreyBackground);
}

.songsResultsTable td {
    padding-top: 0.5rem;
    font-size: 1rem;
    width: 30%;
    color: var(--lightGreyBackground);
}

.songsResultsTable tr:hover {
    transition: 0.2s ease-in;
    cursor: pointer;
    filter: brightness(150%);
    color: #FFFFFF;
}

.songsResultsTable .addToPlaylistButton {
    transition: ease-in 0.2s;
    color: var(--primaryTheme);
}

.songsResultsTable .addToPlaylistButton:hover {
    filter: brightness(120%);
}
