{% load static %}
<head>
    <link rel="stylesheet"
          href="{% static 'playlist/css/partials/playlist-detail-page/songs.css' %}"/>
</head>

<section class="songs">
    <section class="actions">
        <section class="playlistCard__play">
            <i class="fa-solid fa-circle-play | playlistCard__play__icon | click"></i>
        </section>
        <section
                class="playlistCard__delete | click"
                hx-delete="{% url 'website__playlist:htmx-delete-playlist' playlist.name %}"
                hx-confirm="Are you sure you want to delete this?"
        >
            <i class="fa-solid fa-circle-xmark | playlistCard__delete__icon | click"></i>
        </section>
    </section>
    {% if songs %}
        <table class="songsTable">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Date Added</th>
                <th></th>
                <th class="text-end"><i class="fa-regular fa-clock"></i></th>
                {% for song in songs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ song.name }}</td>
                        <td>{{ song.artist.name }}</td>
                        <td>24 Feb, 2023</td>
                        <td class="text-end"><i class="fa-regular fa-heart | controls | click"></i></td>
                        <td class="text-end">4:06</td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <p>There are no songs in this playlist</p>
    {% endif %}
</section>
