{% load widget_tweaks %}
<section id="updatePlaylist">
    <div class="modal fade" id="updatePlaylistForm" tabindex="-1" aria-labelledby="updatePlaylistFormLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="formMessage"></div>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" hx-boost="true">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label>{{ update_playlist_form.name.label_tag }}</label>
                            {% render_field update_playlist_form.name class="form-control" %}
                        </div>

                        <div class="form-group mb-3">
                            <label>{{ update_playlist_form.description.label_tag }}</label>
                            {% render_field update_playlist_form.description class="form-control" %}
                        </div>
                        {% include 'playlist/partials/common/_playlist_name_tag.html' with playlist=playlist %}
                    </div>
                    <div class="modal-footer">
                        <button
                                type="submit"
                                class="btn btn-primary"
                                hx-post="{% url 'website__playlist:htmx-update-playlist' %}"
                                hx-target="#playlist_identification"
                        >
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
