{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
{#        <link rel="stylesheet" href="{% static 'base/css/index.css' %}"/>#}
    </head>

    <section class="index_page">
        <section class="index_page__playlists">
            <h1 class="index_page__greeting header">{{ header }}</h1>
            {% include 'playlist/partials/all-playlists-page/_playlist_list.html' with playlists=random_playlists %}
        </section>
        <section class="index_page__mixes">
            <h1 class="index_page__title">Our Top Mixes</h1>
            <button
                    type="button"
                    class="button"
            >
                Refresh
            </button>
        </section>
    </section>

{% endblock content %}
