{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'base/css/index.css' %}"/>
    </head>

    <section class="index_page">
        <section class="index_page__playlists">
            <a
                    class=""
                    href="{% url 'website__playlist:all-playlists' %}"
                    preload
                    hx-boost="true"
            >
                <h1>Your playlists</h1>
                {% include 'playlist/partials/all-playlists-page/_playlist_list.html' with playlists=random_playlists number_of_columns=2 %}
            </a>
        </section>
        <section class="index_page__search">
            <h1>Some recommendations</h1>
            <button
                    type="button"
                    class="button"
            >
                Refresh
            </button>
        </section>
    </section>

{% endblock content %}
