{% extends 'base.html' %}
{% load static %}
{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'base/css/pages/profile.css' %}"/>
    </head>

    <div class="profilePage">
        <div class="profilePage__image">
            <i class="fa-solid fa-user profilePage__image__icon"></i>
        </div>
        <div class="profilePage__details">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <p>You have {{ number_of_playlists }} <a
                    class=""
                    href="{% url 'website__playlist:all-playlists' %}"
                    hx-boost="true"
            >
                playlists
            </a> saved</p>
        </div>
        <div class="profilePage__button">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quasi.
        </div>
    </div>
{% endblock content %}