{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <head>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'base/registration/css/login.css' %}"/>
    </head>

    <div class="align-center col-8 offset-2 p-5">
        <p class="lead mb-3 ml-0">Login</p>
        <hr/>
        <form method="POST" hx-boost="true" action="{% url 'website__base:login' %}" autocomplete="off">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group mb-3">
                    <label>{{ field.label_tag }}</label>
                    {% render_field field class="form-control text-capitalize" placeholder=field.name %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success mt-2">Login</button>
            <a
                    class="btn btn-primary mt-2"
                    href="{% url 'website__base:register' %}"
                    hx-boost="true"
            >
                Register
            </a></form>
    </div>

{% endblock content %}