{% load static %}
{% load widget_tweaks %}

<head>
    <link rel="stylesheet" href="{% static 'playlist/css/templatetags/add_to_playlist.css' %}"/>
</head>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addToPlaylistForm">
    Add to playlist
</button>
<div class="modal fade" id="addToPlaylistForm" tabindex="-1" aria-labelledby="addToPlaylistFormLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" hx-boost="true">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label>{{ select_playlist_form.all_playlists.label_tag }}</label>
                        {% render_field select_playlist_form.all_playlists class="form-control" %}
                    </div>
                </div>
                <input
                        type="hidden"
                        name="songId"
                        id="hiddenSongId"
                        value={{ song_id }}
                >
                <div class="modal-footer">
                    <button
                            type="submit"
                            class="btn btn-primary"
                            hx-post="{% url 'website__playlist:htmx-add-to-playlist' %}"
                            hx-include="#hiddenSongId"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>