{% load static %}
{% load widget_tweaks %}

<!-- Button trigger modal -->
<td class="text-end" style="width: 10%">
    <i class="fa-solid fa-circle-plus | addToPlaylistButton"
       data-bs-toggle="modal"
       data-bs-target="#addToPlaylist{{ song_id }}"
       style=""
    >
    </i>
</td>

<div class="modal fade" id="addToPlaylist{{ song_id }}" tabindex="-1" aria-labelledby="addToPlaylistFormLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ song_name }}
            </div>
            <div class="modal-body" id="addToPlaylistBody{{ song_id }}">
                <label>{{ select_playlist_form.all_playlists.label_tag }}</label>
                {% render_field select_playlist_form.all_playlists class="form-control" %}
                <input
                        type="hidden"
                        name="songId"
                        id="hiddenSongId"
                        value={{ song_id }}
                >
            </div>
            <div class="modal-footer">
                <button
                        id="addToPlaylistButton{{ song_id }}"
                        type="submit"
                        class="btn btn-primary submitBtn"
                >
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#addToPlaylistButton{{ song_id }}").click(function () {
            const modalBody = $("#addToPlaylistBody{{ song_id }}")
            let playlistId = modalBody.find('#id_all_playlists')[0].value
            let songId = modalBody.find('#hiddenSongId')[0].value

            let data = new FormData()
            data.append('playlistId', playlistId)
            data.append('songId', songId)
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            fetch("{% url 'website__playlist:htmx-add-to-playlist' %}", {
                method: 'POST',
                headers: {
                    'HX-Request': true,
                },
                body: data,
                credentials: 'same-origin',
            })
        })
    })
</script>