{% load static %}
{% load widget_tweaks %}
<!-- Button trigger modal -->

<head>
    <link rel="stylesheet" href="{% static 'playlist/css/templatetags/add_playlist.css' %}"/>
</head>

<!-- Button trigger modal -->
<i class="fa-solid fa-circle-plus | addPlaylistButton | click" data-bs-toggle="modal"
   data-bs-target="#addPlaylistForm"></i>
<div class="modal fade addPlaylistForm" id="addPlaylistForm" tabindex="-1" aria-labelledby="addPlaylistFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="formMessage"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Playlist</h5>
                <button type="button" class="modal_header__close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark modal_header__close__icon"></i></button>
            </div>
            <form method="POST" hx-boost="true">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label>{{ add_playlist_form.name.label_tag }}</label>
                        {% render_field add_playlist_form.name class="form-control" %}
                    </div>

                    <div class="form-group mb-3">
                        <label>{{ add_playlist_form.description.label_tag }}</label>
                        {% render_field add_playlist_form.description class="form-control" %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                            type="submit"
                            class="btn btn-primary"
                            hx-post="{% url 'website__playlist:htmx-add-playlist' %}"
                            hx-target="#playlist_list"
                            hx-swap="beforeend"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>